/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/composer.phar
/node_modules/
/open.json
/vendor/
/web/app.css
/web/app.js
/web/bundles/
/web/fonts/
/web/uploads/avatars/*
!web/uploads/avatars/.gitkeep
