{% extends 'layout.html.twig' %}

{% block html %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <span class="airlines-icon"></span> Airlines
                </a>
            </div>
            {% include 'menu.html.twig' %}
        </div>
    </nav>

    <div class="container">{% block body '' %}</div>
{% endblock %}