<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Airlines{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('app.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <span class="airlines-icon"></span> Airlines
                </a>
            </div>
            {% include 'menu.html.twig' %}
        </div>
    </nav>

    {% block body '' %}

    {% block scripts %}
        <script src="{{ asset('app.js') }}"></script>
    {% endblock %}

    {% if 'dev' == app.environment %}
        <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}
</body>

</html>
