{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('cover.css') }}" />
{% endblock %}

{% block html %}
    <div class="home-bg"></div>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"><span class="airlines-icon"></span> Airlines</h3>
                    </div>
                </div>
                <div class="inner cover">
                    <h1 class="cover-heading">Take your team to the skies.</h1>
                    <p class="lead">
                        <a href="{{ path('board') }}" class="btn btn-lg btn-default">Get on board!</a>
                    </p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>Made with &#9829; for AECF by <a href="http://neemzy.org" target="_blank" rel="author">neemzy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}