<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Airlines{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('app.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    {% block html '' %}

    {% block scripts %}
        <script src="{{ asset('app.js') }}"></script>
    {% endblock %}

    {% if 'dev' == app.environment %}
        <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}
</body>

</html>
