{# add 'task' to the array below to restore access to the Task CRUD #}
{% set routes = ['board', 'member'] %}

<ul class="nav navbar-nav">
    {% for route in routes %}
        {% set path = path(route)|replace({ '/app_dev.php/': '/' }) %}
        <li{% if path in app.request.pathinfo %} class="active"{% endif %}>
            <a href="{{ path }}">{{ route|title }}s</a>
        </li>
    {% endfor %}
</ul>