{% extends 'base.html.twig' %}

{% block body %}

<h1>Airlines style guide</h1>

<div class="board">
    <header class="board__header">
        <div class="board__head-title">Équipe 3 - semaine 50</div>
        <div class="board__head-day">Lundi 8/12</div>
        <div class="board__head-day">Mardi 9/12</div>
        <div class="board__head-day">Mercredi 10/12</div>
        <div class="board__head-day">Jeudi 11/12</div>
        <div class="board__head-day">Vendredi 12/12</div>
    </header>
    <div class="member">
        <div class="member__info">
            <div class="member__identity">
                <div class="member__avatar" style="background-image: url('https://pbs.twimg.com/profile_images/412193761507041280/1eeIlWpC.jpeg');"></div>
                <div class="member__name">TPAN</div>
                <div class="member__smiley" style="background-image: url('http://www.freesmileys.org/smileys/smiley-basic/cool.gif');"></div>
            </div>
            <div class="member__numbers">
                <div class="member__estimate">Estimé : 5</div>
                <div class="member__consumed">Consommé : 0.5</div>
                <div class="member__remaining member__remaining--over">RAF : 4.75</div>
            </div>
        </div>
        <div class="member__day">
            <div class="task">
                <div class="task__name">DEV<br />Retour lot 99</div>
                <div class="task__numbers">
                    <div class="task__estimate" title="Estimé">1</div>
                    <div class="task__consumed" title="Consommé">0.5</div>
                    <div class="task__remaining task__remaining--over" title="RAF">0.75</div>
                </div>
            </div>
        </div>
        <div class="member__day"></div>
        <div class="member__day"></div>
        <div class="member__day"></div>
        <div class="member__day"></div>
    </div>
</div>

{% endblock %}