{% extends 'base.html.twig' %}

{% block body %}

<h1>Airlines style guide</h1>

<div
    class="board"
    data-week="52"
    data-weekUrl="{{ url('weekdays', { week: 52, year: 'now'|date('Y') }) }}"
    data-memberUrl="{{ url('member.list', { id: 1 }) }}"
></div>

{% endblock %}