@board-spacing: 10px;

.board {
    display: table;
    width: 100%;
    border-collapse: collapse;

    &__header,
    &__footer {
        .table-row();
    }

    &__head-title,
    &__head-day,
    &__foot-title,
    &__foot-day {
        .table-cell();

        padding: @board-spacing;
    }

    &__head-title {
        font-size: 2rem;
    }
}