@task-line-height: 3rem;
@task-remove-size: 20px;

.task {
    display: flex;
    position: relative;
    float: left;
    line-height: @task-line-height;
    margin: @board-spacing;
    border: 1px solid black;
    user-select: none;

    &__name {
        display: inline-block;
        position: relative;
        padding: 0 @board-spacing;
    }

    &__remove {
        .glyphicon();
        .glyphicon-remove();

        position: absolute;
        top: 0;
        right: 0;
        width: @task-remove-size;
        height: @task-remove-size;
        line-height: @task-remove-size;
        text-align: center;
        color: @gray-dark;
        opacity: 0;
        cursor: pointer;
        transition: opacity .2s ease-in-out;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            outline: none;
        }
    }

    &:hover &__remove {
        opacity: 1;
    }

    .numbers {
        display: inline-flex;
    }
}