.task {
    display: inline-block;
    border: 1px solid black;

    &__name {
        display: inline-block;
        background-color: green;
    }

    &__numbers {
        display: inline-block;
    }

    &__estimate {

    }

    &__consumed, &__remaining {
        display: inline-block;

        &--under {
            color: green;
        }

        &--over {
            color: red;
        }
    }

    &__consumed {

    }

    &__remaining {

    }
}