{% extends '::base.html.twig' %}

{% block body %}
    <h1>Board list</h1>

    <ul class="list-group">
        {% for entity in entities %}
            <li class="list-group-item">
                <a class="list-group-link" href="{#{ path('member_edit', { 'id': entity.id }) }#}">
                    #{{ entity.id }} - {{ entity.name }}
                    <span class="hover pull-right"><span class="glyphicon glyphicon-send"></span> Go</span>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="form-btn-group">
        <a class="btn btn-primary" href="{{ path('board_new') }}">Create a new board</a>
    </div>
{% endblock %}